*{/*configuración troncal*/
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    margin: 0%;
    padding: 0%;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: rgb(35,44,81)
}
.contenedor{
    width: 100%;
}

/*------------------------------------------------------------- Header*/
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;      
    z-index: 4; 
    padding: 4vh 1vw;
    background-color: white;
    top: 0;    
}
header div i{
    padding-left: 30vw;
}
.nav-bar{/*menu navegación oculto*/
    display: none;
}
header input.boton{/*boton naranja oculto*/
    display: none;
}

/*--------------------------------------------------------- Boton Naranja*/
.boton{/*configuración del boton naranja*/
    width: 120px;
    height: 40px;
    background-color: rgb(242, 95, 58);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: 500;    
    font-size: 13,18px;
    line-height: 19,26px;
}
.boton:hover{/*transparencia boton naranja cuando paso mouse*/
    background-color: rgba(242, 95, 58,.5);
    color: rgb(249, 249, 249);
}

/*------------------------------------------------------------- Main*/
#primerSection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    align-items: flex-start;    
    position: absolute;
    top: 15vh;
    box-sizing: border-box;
}
#graficos img{
    display: block;
    position: relative;
    max-width: 80%;   
    margin: 0 10% 10%;
}
div#titular{
    display: block;
    position: relative;
    max-width: 100%;
    align-self: flex-end;
    text-align: start;
    margin: 0 0 2vh 0;
}
#titular h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 5vh;
    text-align: center;
}
#titular p{
    font-size: .9rem;
    line-height: 2.5vh;
    color: rgb(143, 148, 167);    
    margin: 1vh 10% 2vh;
}
div#titular input.boton{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto 8vh;
}

/*----------------------------------------------------- Segunda sEccion*/
#segundaSeccion{/* texto y listados*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    box-sizing: border-box;
    top: 87vh
}
#parteA{/*texto*/
    display: block;
    position: absolute;
    padding: 5%;
    max-width: 90%;
    
}
#parteA h3{
    font-size: 1.8rem;
    line-height: 4vh;
    font-weight: 700;    
    padding-bottom: 2vh;
    left: 2vw;
    text-align: center;
}
#parteA p{
    line-height: 2.5vh;
    color: rgb(143, 148, 167);
}
#parteB{/*listados*/
    display: block;
    position: absolute;
    top:32vh;
}
#parteB dl{
    height: 20vh;
    width: 95vw;
    position: relative;
    padding: 0 0 15% 0%;
    margin: 0 0 5% 0;

}
#parteB dl span{/*el no boton para numerar*/
    width: 69px;
    height: 43px;
    background-color: rgb(242, 95, 58);
    border-radius: 30px;
    border: none;
    color: white;
    padding: 10px 25px;
    font-weight: 700;    
    font-size: 16px;
    line-height: 23,38px;
    position: relative;
    z-index: 1;  
    

}
#parteB dl dt{
    position: absolute;
    left: 13vw;
    top: -1vh;
    display: block;
    font-weight: 700;
    padding: 1vh 4vh;    
    background-color: rgb(255, 239, 234);
    font-size: .99rem;
    width: 75%;
}
#parteB dl dd{
    position: absolute;
    top:20%;
    color: rgb(143, 148, 167);
    line-height: 3vh;
    margin: 0% 5%;    
}

/*----------------------------------------------------- Tercera Seccion*/
#terceraSeccion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    top: 200vh;
    height: 170vh;   
}
#terceraSeccion h2{
    display: block;
    position: relative;
    font-size: 2rem;
    line-height: 4vh;
    font-weight: 700;
    margin: 10% 0% 30% 0%;
}
article.tarjeta{
    display:flex;
    position: relative; 
    justify-content: center;   
    background-color:rgb(249, 249, 249);
    height: 24vh; 
    width: 100%;
    margin-bottom: 12vh; 
    top:2vh;    
}
.tarjeta img{
    width: 30%;
    padding: 0 25%;
    display: block;
    position: absolute;
    top: -30%;

}
.tarjeta h4{
    position: absolute;
    top:40%;
    font-weight: 700;
    line-height: 2vh;
    margin-left: 25vw;
    width: 50%;    
}
.tarjeta p{
    position: absolute;
    top: 60%;
    font-weight: 600;
    line-height: 2vh;
    width: 80%;
    color:#B9B9C1;
    font-size: .8rem;
    text-align: center;
}
#terceraSeccion .boton{
    display: block;
    position: absolute;
    top: 130vh;    
}


/*------------------------------------------------------------- Footer*/
footer{
    display:block;
    position: relative;
    top: 175vh;
    height: 100vh;
}
.banner1{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    position: relative;
    background-color: #F3613C;
    height: 40%;
}
.banner1 span{
    display: block;
    position: absolute;
    color: white;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 5vh;
    padding: 45% 5%;  
    text-align: center;  
}
.banner1 .boton{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto 8vh;
    background-color: rgb(255, 239, 234);
    color: rgb(242, 95, 58);
    
}
.banner1 .boton:hover{
    background-color: rgba(255, 239, 234,0.5);
}
.banner2{
    background-color: #1E1E26;
    height: 60%;
    display: flex;        
}
section.banner2 form{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10% 4%;   
    
}
section.banner2 form input.casilla{
    display: block;
    position: absolute;
    border-radius: 50px;
    border: none;
    height: 5vh;
    width: 61vw;
    padding-left: 5vw;
    font-size: .9rem;
    margin-right: 20vw;
    
    
}
section.banner2 form input.boton{/*mismo tamaño dl*/
    position: absolute;
    display: block;
    width: 69px;
    height: 43px;        
    
}
#op1{
    display: inline-block;
    position: absolute;
    top: 55%;
    left: 13vw;
}
#op2{
    display: inline-block;
    position: absolute;
    top: 55%;
    left: 55vw;
}
section.banner2 div#op1 ul li a{
    color:white;
    font-weight: 400;
    line-height: 4vh;
}
section.banner2 div#op2 ul li a{
    color: white;
    font-weight: 400;
    line-height: 4vh;
}
#redes{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 32vh auto 0 6vw;
    gap: 8vw;
}
#redes .fab{
    color: white;
    font-size: 2.5rem;   
    margin-top: 4vh; 
}
#logo img{
    display: inline-block;
    position: absolute;    
    bottom: 10%;
    width: 10rem;
    margin-left: 25%;
    
}
.banner2 p{
    display: inline-block;
    position: absolute;    
    bottom: 3%;
    padding-left: 10%;
    color: #8C8C94;
    font-size: .9rem;
    text-align: center;
    margin: 0 auto 3% 6vw;
}

/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*------------------------------------------------------------- MQ   */
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/

@media screen and (min-width: 375px){
    header{/*tomo al header en su totalidad*/
    padding: 4rem 0;
    top: 0;
    width: 100%;
    }
    header img{
        height: 6vh;    
    }
    .nav-bar{/*menu navegación*/
        display: flex;
        flex-direction: row;
        font-size: 0.9rem;    
        line-height: 1em;
        gap: 4rem;        
    }
    .boton-menu{/*oculto la hamburguesa*/
        display: none;
    }
    header nav ul li i{/*margen iconos*/
        margin: 0 1vw;
    }
    header nav ul i:hover,a:hover{/*cambie de color cuando paso el mouse*/
        color: rgb(143, 148, 167);    
    }
    header input.boton{
        display: block;
    }
    
    /*------------------------------------------------------------- Main*/
    /*------------------------------------------------------------- Primer Seccion*/
#primerSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 60vh;
    margin: 10vh 2vw;
    width: 100%;
}
#graficos{
    width: 50vw;
    height: 48vh;
    position: absolute;
    left: 40vw;
    top: 1.5vh;
}
#titular{
    position: absolute;
    top: -5vh;
    width: 35vw;
    height: 35vh;
    padding: 5vh;
}
#titular h1{
    font-size: 3.5rem;
    line-height: 4rem;
    text-align: left;
    margin-left: 3vw;    
}
#titular p{
    font-size: 1rem;
    color: black;
    line-height: 2rem;
    max-width: 70%;
    padding-left: 2vw;
}
#titular input.boton{
    position: relative;
    top: 2vh;
}
/*------------------------------------------------------------- Segunda Seccion*/
#segundaSeccion{
    top: 20vh;   
    height: 80vh;
    width: 100%;
    padding-right: 0;
    }
#parteA{
    display: inline-block;
    max-width: 50%;
    top: .5vh;
    padding-top: 0vh;
}
#parteA h3{
    line-height: 3rem;
    margin-right: 19vw;

}
#parteA p{
    margin-left: 3%;
    line-height: 2rem;
    padding-top: 1.5rem;
    width: 70%;
    color: black;
}
#parteB{/*listados*/
    max-width: 50%;
    top: 2vh;
    left: 40vw;
    height: 20vh;    
}
#parteB dl{
    height: 8vh;
    width: 47vw;
    left: 5vw;
    padding-bottom: 5vw;
   
}
#parteB dl dt{
    left: 3.5vw; 
    background-color: white;
    width: 40vw;   
    
}
#parteB dl dd{
    top: 5vh;
    line-height: 1.5rem;
    left: 3vw; 
    width: 40vw; 
 
}
/*------------------------------------------------------------- Tercera Seccion*/
#terceraSeccion{        
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    top: 15vh;
    height: 80vh;
    gap: 2%;
    width: 100vw;
}
#terceraSeccion h2{
        margin: 5% auto;
        width: 100%;
        text-align: center;
        margin: 4% 0 0 0;
        top: 0;
}
article.tarjeta{
    background-color:rgb(249, 249, 249);
    height: 35%; 
    margin: 1% 0; 
    width: 25%;

}
.tarjeta img{
    text-align: center;
    width: 35%;
    top: -40%;

}
.tarjeta h4{
    z-index: 1;
    text-align: center;    
    top:40%;
    font-weight: 700;
    line-height: 2vh;
    right: 25%;   
    
}
.tarjeta p{
    position: absolute;
    top: 60%;
    font-weight: 600;
    line-height: 2vh;
    width: 90%;
    color:#B9B9C1;
    font-size: .8rem;
    text-align: center;
    
}
#terceraSeccion .boton{
    display: inline-block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;   
    top: 95%
}

/*------------------------------------------------------------- Footer */
footer{
    top: 25vh;
    height: 80vh;
    
}
.banner1 span{
    padding: 10vh 10vw 10vh 15vw;
    width: 30%;  
    height: 40%; 
    text-align: left;
    
}
.banner1 .boton{
    justify-self: right;
    margin-left: 80%;
    margin-bottom: 8%;
    top: 2vh;
    
}
#logo img{
    top: 55%;
    margin-left: 10vw;
    width: 15rem;
    
}
#redes{
    gap: 2vw;
    margin-left: 12%;
}
#redes .fab{
    font-size: 1rem;
    
}
#redes .fab:hover{
    color: rgb(242, 95, 58);
}
section.banner2 form input.casilla{
    width: 15vw;
    padding-left: 2vw;
    margin-right: 10vw;
    top: 16vh;

    
    
}
section.banner2 form input.boton{
    margin-right: 5vw;
    top: 15.6vh;
    
}
#op1{
    top: 46vh;
    left: 38vw;
    
}
#op2{
    top: 46vh;
    left: 53vw;
    
}
.banner2 p{
    bottom: 4vh;
    left: 60vw;
    
}
.banner #op2  ul li a:hover{
    color: rgb(242, 95, 58);
}
